.FormContainer {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.steps {
  
}

.stepButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.nextButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 40px;
}

.backButton {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 40px;
}